body {
    background-color: lightgray;
    color: navy;
    text-align: center;

}


.Hangman {

    height: 800px;
    width: 90vw;
    background-color: lightpink;
    border: 10px solid white;


}

.buttonSize {
    border-radius: 40px;
    padding: 10px;
    margin-bottom: 25px;
    border: 1px solid white;

}


.HangBoxContent {
    border: 3px solid navy;
    height: 200px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid white;
}

.Box {
    display: flex;
    justify-content: center;

}